Repository nimblehq/ic-kmm-kayla-bruce, pull requests merged in 2023-08, with the labels that each got.

#73 [#1] [Chore] Configure project based on templates
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE/release_template.md
  .github/workflows/ios_automatic_pull_request_review.yml
  README.md
  android/build.gradle.kts
  android/src/main/java/co/nimblehq/kmm/template/android/MainActivity.kt
  android/src/main/java/co/nimblehq/kmm/template/android/MyApplicationTheme.kt
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/Configuration.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Plugin.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  ios/Gemfile
  ios/Gemfile.lock
  ios/Podfile.lock
  ios/fastlane/Constants/Constants.rb
  ios/fastlane/Constants/Environments.rb
  ios/fastlane/Fastfile
  ios/fastlane/Managers/MatchManager.rb
  ios/fastlane/Matchfile
  ios/fastlane/README.md
  ios/fastlane/report.xml
  ios/ios.xcodeproj/project.pbxproj
  ios/ios.xcodeproj/xcshareddata/xcschemes/ios.xcscheme
  ios/ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  settings.gradle.kts
  shared/build.gradle.kts
  shared/shared.podspec
  shared/src/androidMain/kotlin/co/nimblehq/kmm/template/Platform.android.kt
  shared/src/androidUnitTest/kotlin/co/nimblehq/kmm/template/androidTest.kt
  shared/src/commonMain/kotlin/co/nimblehq/kmm/template/Greeting.kt
  shared/src/commonMain/kotlin/co/nimblehq/kmm/template/Platform.kt
  shared/src/commonTest/kotlin/co/nimblehq/kmm/template/commonTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/kmm/template/Platform.ios.kt
  shared/src/iosTest/kotlin/co/nimblehq/kmm/template/iosTest.kt
Labels: @0.1.0, >chore, $setup-project

#74 [#6] [UI] [Android] As a user, I can see the splash screen
  android/src/main/java/co/nimblehq/kmm/template/android/MainActivity.kt
  android/src/main/java/co/nimblehq/kmm/template/android/screen/splash/SplashScreen.kt
  android/src/main/res/drawable/ic_logo_white.xml
  android/src/main/res/drawable/im_background_splash.webp
  android/src/main/res/values/styles.xml
Labels: @0.1.0, >feature

#75 [#10] [UI] [iOS] As a user, I can see the home screen after login success
  .gitignore
  ios/Podfile
  ios/Podfile.lock
  ios/ios.xcodeproj/project.pbxproj
  ios/ios.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/ios.xcodeproj/xcshareddata/xcschemes/ios.xcscheme
  ios/ios.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/ios/Configurations/Plists/Info.plist
  ios/ios/Resources/Assets/Assets.xcassets/AccentColor.colorset/Contents.json
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/ios/Resources/Assets/Assets.xcassets/Contents.json
  ios/ios/Resources/Fonts/NeuzeitSLTStd-Book.otf
  ios/ios/Resources/Fonts/NeuzeitSLTStd-BookHeavy.otf
  ios/ios/Resources/LaunchScreen/LaunchScreen.storyboard
  ios/ios/Resources/Lotties/confetti.json
  ios/ios/Sources/Application/iOSApp.swift
  ios/ios/Sources/Constants/Dimens.swift
  ios/ios/Sources/Presentation/Modules/Content/ContentView.swift
  ios/ios/Sources/Presentation/Modules/Home/HomeContainerView.swift
  ios/ios/Sources/Presentation/Modules/Home/HomeHeader/HomeHeaderView.swift
  ios/ios/Sources/Presentation/Modules/Splash/SplashView.swift
  ios/ios/Sources/Presentation/UiModels/HomeHeaderUiModel.swift
  ios/ios/Sources/Supports/Extensions/Font.swift
  ios/ios/Sources/Supports/Extensions/Image+Url.swift
  ios/ios/Sources/Supports/Extensions/String.swift
  ios/ios/Sources/Supports/Helpers/Rswift/R+FontResource.swift
Labels: @0.1.0, >feature, $survey-list

#77 [#11] [UI] [Android] As a user, I can see the home screen after login success
  android/build.gradle.kts
  android/src/main/AndroidManifest.xml
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/constants/Dimens.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/modules/MainActivity.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/modules/MyApplicationTheme.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/modules/home/HomeScreen.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/modules/home/home_header/HomeHeaderView.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/modules/splash/SplashScreen.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/ui_models/HomeHeaderUiModel.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  ios/ios/Sources/Application/iOSApp.swift
Labels: @0.1.0, >feature, $survey-list

#80 [#2] [Chore] Initialize the project
  .gitignore
  buildSrc/src/main/kotlin/appPackage/BuildKonfig.example.kt
  buildSrc/src/main/kotlin/appPackage/Configuration.kt
  gradle.properties
  ios/ios.xcodeproj/project.pbxproj
  ios/ios.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/ios.xcodeproj/xcshareddata/xcschemes/ios-production.xcscheme
  ios/ios.xcodeproj/xcshareddata/xcschemes/ios-staging.xcscheme
  ios/ios/Configurations/XCConfigs/DebugProduction.xcconfig
  ios/ios/Configurations/XCConfigs/DebugStaging.xcconfig
  ios/ios/Configurations/XCConfigs/ReleaseProduction.xcconfig
  ios/ios/Configurations/XCConfigs/ReleaseStaging.xcconfig
  shared/build.gradle.kts
Labels: @0.1.0, @0.2.0, >chore, $setup-project

#81 [#3] [Chore] [iOS] Configure CI for the project
  .github/workflows/ios_automatic_pull_request_review.yml
  .github/workflows/ios_lint_and_test.yml
  .gitignore
  buildSrc/src/main/kotlin/appPackage/BuildKonfig.kt.example
  ios/.swiftlint.yml
  ios/Podfile
  ios/Podfile.lock
  ios/fastlane/Constants/Constants.rb
  ios/fastlane/Fastfile
  ios/fastlane/Managers/TestManager.rb
  ios/fastlane/README.md
  ios/fastlane/report.xml
  ios/ios.xcodeproj/project.pbxproj
  ios/ios.xcodeproj/xcshareddata/xcschemes/ios-production.xcscheme
  ios/ios.xcodeproj/xcshareddata/xcschemes/ios-staging.xcscheme
  ios/ios.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/ios/Sources/Application/iOSApp.swift
  ios/ios/Sources/Constants/Dimens.swift
  ios/ios/Sources/Presentation/Modules/Splash/SplashView.swift
  ios/ios/Sources/Supports/Extensions/Font.swift
  ios/ios/Sources/Supports/Extensions/String.swift
  ios/ios/Sources/Supports/Helpers/Rswift/R+FontResource.swift
  ios/ios/SplashView.swift
  ios/iosTests/iosTests.swift
  shared/build.gradle.kts
Labels: @0.1.0, @0.2.0, >chore, $setup-project

#82 [#4] [Chore] [iOS] Configure CD for the project
  .github/workflows/ios_deploy_production_build.yml
  .github/workflows/ios_lint_and_test.yml
  ios/Gemfile.lock
  ios/Podfile
  ios/Podfile.lock
  ios/fastlane/Constants/Constants.rb
  ios/fastlane/Constants/DeliverableConstants.rb
  ios/fastlane/Constants/Environments.rb
  ios/fastlane/Fastfile
  ios/fastlane/Managers/BuildManager.rb
  ios/fastlane/Managers/DistributionManager.rb
  ios/fastlane/Managers/VersioningManager.rb
  ios/fastlane/Pluginfile
  ios/fastlane/README.md
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Configurations/Plists/Google/Production/GoogleService-Info.plist
  ios/ios/Configurations/Plists/Google/Staging/GoogleService-Info.plist
  ios/ios/Configurations/Plists/Info.plist
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/100.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/1024.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/114.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/120.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/144.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/152.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/167.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/180.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/20.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/29.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/40.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/50.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/57.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/58.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/60.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/72.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/76.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/80.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/87.png
  ios/ios/Resources/Assets/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/ios/Sources/Application/iOSApp.swift
Labels: @0.1.0, @0.2.0, >chore, $setup-project

#84 [#66] [Chore] [iOS] Set up localization for the app
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Resources/Localizations/en.lproj/Localizable.strings
  ios/ios/Resources/Localizations/vi.lproj/Localizable.strings
  ios/ios/Sources/Presentation/Modules/Home/HomeContainerView.swift
  ios/ios/Sources/Supports/Helpers/Rswift/R+Localization.swift
Labels: @0.2.0, >chore, $setup-project

#85 [#65] [Chore] [Android] Configure CI for the project
  .github/workflows/android_shared_lint_and_test.yml
  .gitignore
  Dangerfile
  Gemfile
  android/build.gradle.kts
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/modules/MyApplicationTheme.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/modules/home/HomeScreen.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/modules/home/header/HomeHeaderView.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/uimodel/HomeHeaderUiModel.kt
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/BuildKonfig.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Plugin.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  detekt.yml
  ios/Podfile.lock
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/co/nimblehq/kaylabruce/kmmic/AndroidPlatform.kt
  shared/src/androidUnitTest/kotlin/co/nimblehq/kaylabruce/kmmic/AndroidGreetingTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/kaylabruce/kmmic/CommonGreetingTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/kaylabruce/kmmic/IOSPlatform.kt
  shared/src/iosTest/kotlin/co/nimblehq/kaylabruce/kmmic/IosGreetingTest.kt
Labels: @0.1.0, @0.2.0, >chore

#78 [#9] [UI] [Android] As an anonymous user, I can see the login screen
  android/src/main/AndroidManifest.xml
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/navigation/SurveyDestination.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/navigation/SurveyNavigation.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/MainActivity.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/MyApplicationTheme.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/common/SurveyButton.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/common/SurveyTextField.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/home/HomeScreen.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/home/header/HomeHeaderView.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/signin/SignInScreen.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/splash/SplashScreen.kt
  android/src/main/res/drawable/im_background_blur.webp
Labels: @0.1.0, @0.2.0, >feature, $user-authen

#87 [#22] [UI] [iOS] As a user, I can see the available surveys on the home screen
  buildSrc/build.gradle.kts
  ios/Podfile.lock
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Resources/Assets/Assets.xcassets/detailButton.imageset/Contents.json
  ios/ios/Resources/Assets/Assets.xcassets/detailButton.imageset/detailButton.pdf
  ios/ios/Sources/Application/iOSApp.swift
  ios/ios/Sources/Constants/Dimens.swift
  ios/ios/Sources/Presentation/Modules/Home/HomeContainerView.swift
  ios/ios/Sources/Presentation/Modules/Home/SurveyListView/SurveyItemView.swift
  ios/ios/Sources/Presentation/Modules/Home/SurveyListView/SurveyListView.swift
  ios/ios/Sources/Presentation/Views/PageControl.swift
  ios/ios/Sources/Supports/Extensions/EdgeInsets.swift
  ios/ios/Sources/Supports/Extensions/Font.swift
  ios/ios/Sources/Supports/Helpers/Rswift/R+Assets.swift
  ios/ios/Sources/Supports/Helpers/Rswift/R+SwiftUI.swift
Labels: @0.2.0, @0.3.0, >feature, $survey-list

#86 [#7] [Chore] [Android] Configure CD for the project
  .github/workflows/android_deploy_production_build.yml
  .github/workflows/android_shared_lint_and_test.yml
  .gitignore
  android/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/BuildKonfig.kt
  buildSrc/src/main/kotlin/appPackage/Configuration.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/File.kt
  buildSrc/src/main/kotlin/appPackage/Plugin.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  signing.properties.example
Labels: @0.1.0, @0.2.0, @0.3.0, >chore, $setup-project

#91 [#24] [UI] [Android] As a user, I can see the available surveys on the home screen
  android/build.gradle.kts
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/constants/Colors.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/navigation/SurveyDestination.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/navigation/SurveyNavigation.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/common/HorizontalPagerIndicator.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/common/ImageBackground.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/common/NextCircleButton.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/common/SurveyTextField.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/home/HomeScreen.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/home/footer/HomeFooterView.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/home/header/HomeHeaderView.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/signin/SignInScreen.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/uimodel/SurveyListUiModel.kt
  android/src/main/res/drawable/ic_arrow_right.xml
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: @0.3.0, >feature, $survey-list

#93 [#42] [UI] [iOS] As a user, I can see the survey detail screen
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Resources/Assets/Assets.xcassets/bg-splash.imageset/Contents.json
  ios/ios/Resources/Assets/Assets.xcassets/bg-splash.imageset/Image.pdf
  ios/ios/Resources/Assets/Assets.xcassets/ic-backbutton.imageset/Contents.json
  ios/ios/Resources/Assets/Assets.xcassets/ic-backbutton.imageset/ic-backbutton.pdf
  ios/ios/Resources/Assets/Assets.xcassets/ic-detaibutton.imageset/Contents.json
  ios/ios/Resources/Assets/Assets.xcassets/ic-detaibutton.imageset/detailButton.pdf
  ios/ios/Resources/Assets/Assets.xcassets/ic-logowhite.imageset/Contents.json
  ios/ios/Resources/Assets/Assets.xcassets/ic-logowhite.imageset/Logo White.pdf
  ios/ios/Resources/Localizations/en.lproj/Localizable.strings
  ios/ios/Resources/Localizations/vi.lproj/Localizable.strings
  ios/ios/Sources/Presentation/Modules/Home/SurveyListView/SurveyItemView.swift
  ios/ios/Sources/Presentation/Modules/Splash/SplashView.swift
  ios/ios/Sources/Presentation/Modules/SurveyDetail/SurveyDetailView.swift
  ios/ios/Sources/Presentation/UiModels/SurveyDetailUiModel.swift
  ios/ios/Sources/Supports/Extensions/Font.swift
Labels: @0.3.0, >feature, $survey-detail, :fire: need-review

#94 [#45] [UI] [iOS] As a user, I can see the general UI for question
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Resources/Assets/Assets.xcassets/ic-closebutton.imageset/Contents.json
  ios/ios/Resources/Assets/Assets.xcassets/ic-closebutton.imageset/ic-closebutton.pdf
  ios/ios/Resources/Localizations/en.lproj/Localizable.strings
  ios/ios/Resources/Localizations/vi.lproj/Localizable.strings
  ios/ios/Sources/Presentation/Modules/SurveyQuestion/SurveyQuestionView.swift
  ios/ios/Sources/Presentation/UiModels/SurveyQuestionUiModel.swift
Labels: @0.3.0, >feature, $survey-detail, :fire: need-review

#88 [#23] [UI] [iOS] As a user, I can see the animation when loading and showing surveys
  ios/ios.xcodeproj/project.pbxproj
  ios/ios/Sources/Constants/Colors.swift
  ios/ios/Sources/Constants/Dimens.swift
  ios/ios/Sources/Presentation/Modules/Home/HomeHeader/HomeHeaderSkeletonView.swift
  ios/ios/Sources/Presentation/Modules/Home/SurveyList/SurveyItemView.swift
  ios/ios/Sources/Presentation/Modules/Home/SurveyList/SurveyListSkeletonView.swift
  ios/ios/Sources/Presentation/Modules/Home/SurveyList/SurveyListView.swift
  ios/ios/Sources/Presentation/Views/SkeletonBox.swift
  ios/ios/Sources/Presentation/Views/SkeletonText.swift
Labels: @0.2.0, @0.3.0, >feature, $survey-list, :fire: need-review

#90 [#12] [Backend] Build a core networking service
  android/build.gradle.kts
  android/src/main/AndroidManifest.xml
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/SurveyApplication.kt
  build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/BuildKonfig.kt.example
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Plugin.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  gradle.properties
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/co/nimblehq/kaylabruce/kmmic/di/PlatformModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/Greeting.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/Platform.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/data/local/LocalStorageService.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/data/remote/model/request/RefreshTokenRequest.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/data/remote/model/response/TokenResponse.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/data/remote/service/ApiClient.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/data/remote/service/AuthService.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/data/repository/AuthRepositoryImpl.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/di/Koin.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/di/LocalModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/di/PlatformModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/di/RemoteModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/di/RepositoryModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/di/UseCaseModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/domain/model/Token.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/domain/repository/AuthRepository.kt
  shared/src/commonMain/kotlin/co/nimblehq/kaylabruce/kmmic/domain/usecase/RefreshTokenUseCase.kt
  shared/src/iosMain/kotlin/co/nimblehq/kaylabruce/kmmic/di/PlatformModule.kt
Labels: @0.2.0, @0.3.0, >feature, $setup-project, :fire: need-review

#97 [Chore] Bump version to 0.3.0
  android/build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/Version.kt
  ios/ios/Configurations/Plists/Info.plist
Labels: @0.3.0, >chore, >release, :fire: need-review

#95 [#43] [UI] [Android] As a user, I can see the survey detail screen
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/navigation/SurveyDestination.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/navigation/SurveyNavigation.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/surveydetail/SurveyDetailScreen.kt
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/uimodel/SurveyDetailUiModel.kt
  android/src/main/res/drawable/ic_back.xml
Labels: @0.3.0, >feature, $survey-detail, :fire: need-review

#98 [#20] Localize for Android app
  android/src/main/AndroidManifest.xml
  android/src/main/java/co/nimblehq/kaylabruce/kmmic/android/presentation/screen/signin/SignInScreen.kt
  android/src/main/res/values-vi-rVN/strings.xml
  android/src/main/res/values/strings.xml
Labels: @0.3.0, >chore, $setup-project, :fire: need-review
